In [1]:
import pyautogui
from time import sleep, time
import pandas as pd
import os
import shutil

In [2]:
def exists(filename):
    return os.path.isfile(filename)

def get_file_size(filename):
    if exists():        
        statinfo = os.stat(filename)
        return statinfo.st_size
    return 0

def file_to_df(filename, column_name):
    df = pd.read_excel(filename)
    # df = pd.read_excel(filename, skiprows=3)
    # df.set_index('Hz', inplace=True)
    # df.index.name = 'Frequency'
    # df.columns = [column_name]
    return df

def append_df_to_file(filename, df):
    if exists(filename):
        base_df = pd.read_excel(filename, index_col=0)
        base_df = pd.concat([base_df, df], axis=1)
    else:
        base_df = df
    base_df.to_excel(filename)

def copy_file(src, dst):
    shutil.copyfile(src, dst)

def delete_file(filename):
    try:
        os.remove(filename)
    except:
        pass

In [3]:
filename = "test.xlsx"
column_name = "dBSPL"

In [4]:
pd.read_excel(filename, engine="openpyxl")

     RMS Level Unnamed: 1
0          Ch1        NaN
1            X          Y
2           Hz      dBSPL
3      19.9219     48.448
4      32.4219    7.83035
...        ...        ...
1616   19962.9    -30.427
1617   19963.3   -25.1681
1618   19987.5   -1.10263
1619   19987.9   -1.37602
1620     20000   -17.0923

[1621 rows x 2 columns]

In [18]:
df = pd.read_excel(filename, engine="openpyxl", sheet_name="RMS Level (1)")
df.set_index('Hz', inplace=True)
df.index.name = 'Frequency'
df.columns = [column_name]

In [19]:
df

                  dBSPL
Frequency
19.921875     49.822963
32.421875     18.338370
32.812500     37.897081
57.031250    -10.165392
57.421875     38.259251
...                 ...
19962.890625  -3.651064
19963.281250  -2.178514
19987.500000 -24.353069
19987.890625 -24.002085
20000.000000  -1.445797

[1618 rows x 1 columns]

AttributeError: 'DataFrame' object has no attribute 'Frequency'